.Thankyou_Container{
 
    background:rgb(37, 37, 37) ;
    border-radius: 32px;
    box-shadow: 0 8px 32px #0000000f;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 50px;
    position: relative;
    width: 100%;
    z-index: 0;
    .icon{
         font-size: 64px;
    }
    .thanks_text{
        font-size: 56px;
         color: #90D2F8;
          font-weight: 700;
    }
    .info_bg{
         font-size: 14px;
         color: #bbb;
    }
}
@media (min-width: 319px) and (max-width: 1199px){
     .Thankyou_Container{
           border-radius: 24px;
           padding: 34px 45px;
           align-items: flex-start;
           gap: 40px;
           .icon{
                font-size: 40px;
           }
           .thanks_text{
                font-size: 41px;
                line-height: 49px;
           }
           .info_bg{
                display: none;
           }
     }
}

