.Cards_container{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
    z-index: 1;
}
@media (min-width: 767px) and (max-width: 1199px){
.Cards_container {
    gap: 8px;
    padding: 0 16px;
}
}
@media (min-width: 319px) and (max-width: 767px){
.Cards_container{
    // align-items: center;
     flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 8px 8px 0;

}
}