.fixedMadeContainer{
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
    pointer-events: none;
    z-index: 314159;
    .button_text{

        border-color: rgba(0, 0, 0, 0);
        border-style: solid;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.26) 0px 0.637473px 1.14745px -1.125px, rgba(0, 0, 0, 0.24) 0px 1.93094px 3.4757px -2.25px, rgba(0, 0, 0, 0.192) 0px 5.10423px 9.18761px -3.375px, rgba(0, 0, 0, 0.03) 0px 16px 28.8px -4.5px;
        cursor: pointer;
        opacity: 1;
         color: var(--main-bg-black);
          font-weight: 700;
           display: flex;
           gap: 10px;
           padding: 10px;
           align-items: center;
            font-size: 14px;
          img{
             width: 11px;
             height: 16px;
             object-fit: cover;
          }

    }
}