.center_Container{ align-content: flex-end;
// align-items: flex-end;
display: flex;
flex: none;
flex-direction: column;
flex-wrap: nowrap;
gap: 16px;
height: min-content;
justify-content: flex-start;
overflow: visible;
// padding: 200px 0 16px;
position: relative;
width: 400px;
z-index: 1;
}


@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .center_Container{
         width: 379px;
    }
}
@media (min-width: 767px) and (max-width: 1199px){
    .center_Container {
        display: none;
    }
    }
    @media  (max-width: 767px){
        .center_Container {
            display: none;
        }
        }