.mentorship_Container {
  background: rgb(37, 37, 37);
  border-radius: 32px;
  box-shadow: 0 8px 32px #0000000f;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  position: relative;
  scroll-margin-top: 8px;
  width: 100%;
  min-width: 315px;
  z-index: 0;
  padding: 32px;
  .mentormain {
    align-content: center;
    align-items: center;
    // background: #FFD54F;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    // padding: 32px 32px 0;
    position: relative;
    width: 100%;
    .topLayer {
      align-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 6px;
      height: min-content;
      justify-content: flex-start;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 100%;
      .mydesign {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #90d2f8;
      }
      h2 {
        font-size: 30px;
        //  color: #222222;
        font-weight: bolder;
      }
      .content {
        height: min-content;
        overflow: hidden;
        padding: 0 0 32px;
        position: relative;
        width: 100%;
        font-size: 16px;
        line-height: 1.8rem;
        font-weight: 600;
        //  color: #222222;
        //  letter-spacing: 0.5px;
      }
    }
  }
  .payment_Methods {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    // width: 600px;
    .items {
      height: 44px;
      display: flex;
      padding: 4px;
      border-radius: 12px;
      background: #383838;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      border-radius: 3.80952% / 27.2727%;


      .classic {
        width: 100%;
        text-align: center;
        border-radius: 12px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
      }
    }
    //  .classic:active {
    //     transform: translateX(-50%);
    //     background: white;
    //   }
    .plan {
      background: white;
      color: #bbbb;
    }
    .session {
      background: white;
      color: #bbbb;
    }
    .info_section {
      border: 1px solid rgb(56, 56, 56);
      border-radius: 16px;
      width: 100%;
      align-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: nowrap;
      //  gap: 16px;
      height: min-content;
      justify-content: flex-start;
      overflow: visible;
      padding: 24px;
      position: relative;
      .amount {
        font-size: 48px;
        font-weight: 700;
        border-bottom: 1px solid rgb(56, 56, 56);
        width: 100%;
        padding-bottom: 16px;
        margin-bottom: 16px;
        span {
          font-size: 14px;
          color: #bbbb;
        }
      }
      .contact_details {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid rgb(56, 56, 56);
        .contact {
          display: flex;
          gap: 12px;
          align-items: center;
          font-size: 16px;
          color: #bbbb;
          font-weight: 400;
          // padding: 24px;
        }
      }
      .fund {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .contact {
          display: flex;
          gap: 12px;
          align-items: center;
          font-size: 16px;
          color: #bbbb;
          font-weight: 400;
          // padding: 24px;
        }
        .check {
          color: green;
          font-weight: 400;
        }
      }
      .workday {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
        .workpain {
          display: flex;
          justify-content: space-between;
          padding-bottom: 16px;
          border-bottom: 1px solid rgb(56, 56, 56);
          .upper {
            display: flex;
            flex-direction: column;
            gap: 6px;
            font-size: 18px;
            .duration {
              display: flex;
              gap: 4px;
              font-size: 14px;
              align-items: center;
            }
          }
          .workamount {
            display: flex;
            flex-direction: column;
            gap: 6px;
            .price {
              font-weight: 23px;
            }
            .per {
              font-size: 14px;
            }
          }
        }
      }
    }

    .button_Container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .learnmore {
        width: 100%;
        border-radius: 12px;
        display: flex;
        flex: none;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        height: 64px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 14px;
        color: #90d2f8;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #90d2f8;
      }
      .whatsapp {
        width: 100%;
        border-radius: 12px;
        display: flex;
        flex: none;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        height: 64px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 14px;
        background: #25d366;
        color: white;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
