.MainPage_container {
  // margin: 69px;
  border-radius: 8px;
  border: 1px solid var(--page-bg-color);
  background: var(--primary-middle);
  overflow: hidden;

  //  min-height: 942px;
  //  height: 100vh;
  min-height: 100%;
  .loading {
    display: flex;
    height: 100px;
    align-items: center;
    color: var(--secondary-white);
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .MainPage_container{
    height: 100%;
    overflow: hidden;
  }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .MainPage_container {
    margin: 15px;
    height: 100% !important;
    z-index: 0;
    // opacity: 0;
  }
  .menubar{
    //  position: fixed;
    height: 0 !important;
    width: 0;
    background:var( --bg-overlap);
    margin: 0;
    padding: 0;
    overflow: hidden;
   

  }
}
