.blog_Container{
    align-content: flex-start;
    align-items: flex-start;
    background: rgb(37,37,37);
    border-radius: 32px;
    box-shadow: 0 8px 32px #0000000f;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    scroll-margin-top: 8px;
    width: 100%;
    z-index: 0;
    .blogmain{
        align-content: center;
        align-items: center;
        background: #FFD54F;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 6px;
        height: min-content;
        justify-content: center;
        overflow: hidden;
        padding: 32px 32px 0;
        position: relative;
        width: 100%;
        .topLayer{
            align-content: flex-start;
            align-items: flex-start;
            display: flex;
            flex: none;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 6px;
            height: min-content;
            justify-content: flex-start;
            overflow: hidden;
            padding: 0;
            position: relative;
            width: 100%;    
            .mydesign{
                 font-size: 12px;
                 font-weight: 700;
                  line-height: 17px;
                 text-transform: uppercase;
                  color: #222222;
            }
            h2{
                 font-size: 32px;
                 color: #222222;
                  font-weight: bolder;
            }
            .content{
    height: min-content;
    overflow: hidden;
    padding: 0 0 32px;
    position: relative;
    width: 100%;
     font-size: 14px;
     line-height: 1.2rem;
     font-weight: 500;
     color: #222222;
    //  letter-spacing: 0.5px;
            }
        }
    }
    .overview{

        border-radius: 10px;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 16px;
        height: min-content;
        justify-content: flex-start;
        overflow: visible;
        padding: 28px 0 32px;
        position: relative;
        width: 100%;
        
        .overviewBtnContainer{
             display: flex;
             justify-content: space-between;
            //  border-radius: 16px;
             display: flex;
             align-items: center;
             flex: none;
             flex-direction: row;
             flex-wrap: nowrap;
             height: min-content;
             padding: 11px 32px;
             position: relative;
             text-decoration: none;
             width: 100%;
              gap: 16px;
              border-bottom: 1px solid #bbbb;
             .aboutmain{
                 display: flex;
                 flex-direction: column;
                 gap:5px;
                .title{
                     font-size: 18px;
                }
                span{
                    font-size: 14px;
                     color: #bbbb;
                }
             }
        }
    }

}
.overviewBtnContainer:last-child{
    border: none !important;

 }


 @media (min-width: 319px) and (max-width: 1199px){
    .blog_Container{
border-radius: 24px;
.blogmain{
padding: 24px 24px 0;
.topLayer{
    h2{
        font-size: 28px;
        font-weight: 500;
    }
    .content{
        padding: 0 5px 24px;
    }
}
}
.overview{
    gap: 0px;
    padding: 8px 0 16px;
    .overviewBtnContainer{
        padding: 16px 24px;
        .aboutmain{
            .title{
                 font-size: 16px;
                 line-height: 19px;
            }
            span{
                 line-height: 17px;
            }
        }
    }
}
    }
}