.headerContainer{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 80px 0 40px;
    position: relative;
    width: 100%;
    .header{
    
        // --framer-font-family: "Rubik", "Rubik Placeholder", sans-serif;
        font-size: vra(--header-font-size);
        font-weight: 700;
         color: var(--white);
          font-family: var( --font-style);
        // --framer-text-color: var(--token-602a8844-ea10-4023-8c50-6646d9a6c6da, rgb(34, 34, 34));
    }
}